table {
    width: 100%;
  }


  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/home/lanny/Documentos/workspace/projeto lc_personalizados/personalizados-ui/src/assets//lc_personalizados.jpg');
    background-size: cover;
  }
  