table {
    width: 100%;
  }


  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/home/lanny/Documentos/workspace/projeto lc_personalizados/personalizados-ui/src/assets//lc_personalizados.jpg');
    background-size: cover;
  }
<<<<<<< HEAD
  
=======
  

  .loading-spinner{
    padding: 55px;
    background: rgba($color: #b68315, $alpha: 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
>>>>>>> develop
